{% extends "base.html" %} {% block body %}

<p>This is project Add page.</p>

<!-- <div class="container mt-5">
  <form action="{% url 'add_project_member'  project.id %}" method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <div class="horizontal">
            <div class="spacer"></div>
            <input hidden name="project_id" id="project_id" type="text" value="{{project.id}}">
            <input type="number" class="form-control" name="user_id"  id="user_id" required>
            <input type="checkbox" class="form-control" name="is_maneger"  id="is_maneger" >
            <div class="spacer"></div>
        </div>
    </div>
    <button type="submit" class="button blue">Done</button>
  </form>
</div> -->

<form  action="{% url 'add_project_member'  project.id %}" method="post">
  {% csrf_token %}
  <!-- <input hidden name="project_id" id="project_id" type="text" value="{{project.id}}"> -->
  <label for="user_id">Select a user:</label>
  <select name="user_id" id="user_id">
    {% for user in users %}
      <option value="{{ user.id }}">{{ user.id }} - {{ user.username }}</option>
    {% endfor %}
  </select>

  <button type="submit">Add Member</button>
</form>
{% endblock %}
