{% extends "base.html" %} {% block body %}

<p>This is project Add page.</p>

<div class="container mt-5">
  <form action="" method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" name="title" value="{{ title }}" id="title" required>
    </div>
    <div class="mb-3">
      <label for="text" class="form-label">Text</label>
      <textarea class="form-control" name="text" id="text" rows="5" required>{{ text }}</textarea>
    </div>
    <button type="submit" class="button blue">Done</button>
  </form>
</div>

{% endblock %}
