{% extends "base.html" %}

{% block body %}

<p>This is project Edit page.</p>




<div class="container mt-5">
    <form action="" method="POST">
      {% csrf_token %}
      <input hidden type="text" class="form-control" name="id" value="{{ project.id }}" id="id" required>
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" name="title" value="{{ project.title }}" id="title" required>
      </div>
      <div class="mb-3">
        <label for="text" class="form-label">Text</label>
        <textarea class="form-control" name="text" id="text" rows="5" required>{{ project.text }}</textarea>
      </div>

      <div class="mb-3">
        <label for="date" class="form-label">Date</label>
        <input type="date" name="date_due" id="date_due"  placeholder="YYYY-MM-DD" value="{{ project.date_due|date:'Y-m-d' }}"">
      </div>

      <div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" {% if project.is_completed %}checked{% endif %} value="True"  name="is_completed" id="is_completed">
          <label class="form-check-label" for="is_completed">completed</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" {% if project.is_cancled %}checked{% endif %} value="True"  name="is_cancled" id="is_cancled">
          <label class="form-check-label" for="is_cancled">cancled</label>
        </div>
          <br>

      </div>
      
      
      <button type="button" onclick="goBack()" class="button purple">Cancle</button>
      <button type="submit" class="button blue">Edit</button>

    </form>
  </div>
  
  <script>
    function goBack() {
        window.history.back();
    }
  </script>



{% endblock %}