{% extends "base.html" %}

{% block body %}

<style>

/* Optional: Add your custom styles here */
th.col-10 {
    width: 10%; /* Adjust the width as needed */
}

th.col-5 {
    width: 5%; /* Adjust the width as needed */
}


th.col-65 {
    width: 65%; /* Adjust the width as needed */
}

th.col-15 {
    width: 15%; /* Adjust the width as needed */
}

th.col-30 {
    width: 30%; /* Adjust the width as needed */
}

.highlight {
        background-color: rgba(255, 255, 0, 0.425);
    }

</style>


<div class="container mt-5">

    <!--! SubNavBar  -->
    <div class="horizontal">
        <h3>Project List</h3>
        <div class="spacer"></div>

        <!--! Search Bar  -->
        <div class="mr-3">
            <form action="{% url 'all_projects_list' %}" method="get">
                <input type="text" name="q" value="{{ q }}">
                <input type="hidden" name="sort" value="{{sort}}">
                <button type="submit" class="button green">Search</button>
            </form>
        </div>
        <a class="button blue" href="{% url 'add_project' %}">New Project</a>
    </div> 

    <br>


    <table class="table-hover">
        <thead>
            <tr>
                <th class="col-5 p-0">UID</th>
                <th class="col-65 p-0">Title</th>
                <th class="col-10 p-0">Username</th>
                <th class="col-10 p-0">Created</th>
                <th class="col-10 p-0">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
                <tr class="status {{project.get_status_color}}">
                    <td>{{ project.id }}</td>
                    <td><a class="anchor-highlight link shorten-title status {{project.get_status_color}}" href="{% url 'detail_project' project.id %}">{{ project.title }} {{project.show_number_comments}}</a></td>
                    <td class="anchor-highlight">{{ project.get_created_user_info.username  }}</td>
                    <td>{{ project.show_time_created_ago }}</td>
                    <td>{{ project.get_status_str }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    
    <div class="pagination">
        <span class="step-links">
            {% if projects.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ projects.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ projects.number }} of {{ projects.paginator.num_pages }}.
            </span>
    
            {% if projects.has_next %}
                <a href="?page={{ projects.next_page_number }}">next</a>
                <a href="?page={{ projects.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>

    $(document).ready(function () {
        console.log(document)
        var searchTerm = "{{ q }}";
        if (searchTerm) {
            $(".anchor-highlight").each(function () {
                var titleText = $(this).text();
                var highlightedText = titleText.replace(new RegExp(searchTerm, "gi"), function (match) {
                    return '<span class="highlight">' + match + '</span>';
                });
                $(this).html(highlightedText);
            });
        }
    });
</script>


{% endblock %}