
.mx-1 {
    margin-left: 1px;
    margin-right: 1px;
}

.my-1 {
    margin-top: 1px;
    margin-bottom: 1px;
}

.px-1 {
    padding-left: 1px;
    padding-right: 1px;
}

.py-1 {
    padding-bottom: 1px;
    padding-top: 1px;
}

body {
    background-color: #eee;
}

.vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  margin: 0 10px;
  text-decoration: none;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
  color: white;
}
