{% load static %}
<!doctype html>
<html lang="es">
<style>

</style>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Projects</title>
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}" type="text/css">
    </head>

<body>

{% include 'navbar.html' %}
    
<p>base background</p>
{% block body %}

{% endblock %}

</body>
</html>