
<style>

.nav-item {
    transition: color 0.1s; 
}
.nav-item{
    font-weight: bold;
    color: #eeeeeebb;
}
.nav-item:hover {
    text-decoration: none;
    color: #ffffff; /* bold 색상 지정 */
}


</style>

<div class="navbar horizontal">

    <div >
        <a class="nav-item" href="{% url 'core_index' %}">index</a>
        <a class="nav-item" href="{% url 'project_index' %}">project</a>
        <a class="nav-item" href="{% url 'all_user_list' %}">users</a>
        <a class="nav-item" href="{% url 'index_maintenance' %}">maintenance</a>

    </div>

    <div>
        {% if user.is_authenticated  %}
            <div class="menu">
                <div>{{user.username}}</div>
                <div class="hidden-menu">
                    <a class="nav-item" href="{% url 'detail_account' user.id %}">My Page</a>
                    <a class="nav-item" href="{% url 'account_logout' %}">log out</a>
                    <!-- 원하는 만큼 서브 메뉴 추가 -->
                </div>
            </div>
        {% else %}
            <a class="nav-item" href="{% url 'account_login' %}">login</a>
        {% endif %}
    </div>
</div>




