
<div class="navbar horizontal">

    <div >
        <a class="nav-item" href="{% url 'core_index' %}">index</a>
        <a class="nav-item" href="{% url 'project_index' %}">project</a>

    </div>

    <div>
        {% if user.is_authenticated  %}
            {{user.username}}
            <a class="nav-item" href="{% url 'account_logout' %}">logged out</a>
            
        {% else %}
            <a class="nav-item" href="{% url 'account_login' %}">login</a>
        {% endif %}
    </div>
</div>




