// Variables
$blue-color: #3498db;
$green-color: #2ecc71;
$orange-color: #e67e22;
$red-color: #e74c3c;
$info-color: #3498db;
$nav-color: #333;
$white-color: #fff;
$black-color: #000;
$gray-color: #eee;
$nav-highlight-color: rgba(0, 0, 0, 0.822);
$nav-font-color: white;

body {
  background-color: $gray-color;
}

a {
  text-decoration: none !important;
}

.cursor-none {
  cursor: default;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.horizontal {
  display: flex;
}

.spacer {
  flex-grow: 1;
}

.navbar .nav-link {
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 18px;
  color: #ffffffd3 !important;
  font-weight: bold;
  border-radius: 10px;

  &:hover {
    color: $nav-font-color !important;
    transition: 0.5s;
    background-color: $nav-highlight-color;

  }
}

/* 기본 버튼 스타일 */
.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: 0.5s;
  position: relative;

  /* 색상 설정 */
  &.blue {
    color: $white-color;
    background-color: $blue-color;
  }

  &.green {
    color: $white-color;
    background-color: $green-color;
  }

  &.orange {
    color: $white-color;
    background-color: $orange-color;
  }

  &.purple {
    color: $white-color;
    background-color: $red-color;
  }

  &.red {
    color: $white-color;
    background-color: $info-color;
  }

  &.yellow {
    color: $white-color;
    background-color: $nav-color;
  }

  /* 호버 효과 */
  &:hover {
    border-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.8);
    filter: brightness(0.9); 
  }

}

/* 기본 스타일 */
.link {
  color: $black-color; /* 검정색 */
  text-decoration: none; /* 밑줄 제거 */
  transition: box-shadow 0.3s ease-in; /* 호버 시 새도우 효과에 대한 전환 효과 */
  border-radius: 8px; /* 둥글게 만들기 위해 border-radius 속성 추가 */
  padding: 0 2px;
  display: inline-block; /* 인라인 블록으로 지정하여 여백이 적용되도록 함 */

  /* 호버 및 포커스 스타일 */
  &:hover {
    color: $black-color; /* 검정색 */
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.5); /* 새도우 효과, spread 값 조절 */
  }
}

//   /* @keyframes를 사용하여 애니메이션 정의 */
//   @keyframes slideIn {
//     from {
//       opacity: 0;
//       transform: translateY(-20px);
//     }
//     to {
//       opacity: 1;
//       transform: translateY(0);
//     }
//   }
// }

.shorten-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 800px; /* 최대 길이 설정 */
}

/* 상태에 따른 스타일 */
.status {
  &.gray {
    color: gray;
  }

  &.black {
    color: $black-color;
  }

  &.red {
    color: red;
  }

  &.blue {
    color: rgb(81, 91, 224);
  }
}

// .nav-item {
//   transition: color 0.1s;

//   /* Extend mixin */
//   @extend .menu-font;

//   &:hover {
//     text-decoration: none;
//     color: $white-color; /* bold 색상 지정 */
//   }
// }

// .menu-font {
//   font-weight: bold;
//   color: rgba($white-color, 0.75);
// }