
body {
    background-color: #eee;
}

.vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  margin: 0 10px;
  text-decoration: none;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
  color: white;
}

/* 기본 버튼 스타일 */
.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: color 0.3s, border-color 0.3s, background-color 0.3s;
  position: relative;
}

/* 색상 설정 */
.button.blue {
  color: #fff;
  background-color: #3498db;
}

.button.green {
  color: #fff;
  background-color: #2ecc71;
}

.button.orange {
  color: #fff;
  background-color: #e67e22;
}

.button.purple {
  color: #fff;
  background-color: #9b59b6;
}

.button.red {
  color: #fff;
  background-color: #e74c3c;
}

.button.yellow {
  color: #fff;
  background-color: #f1c40f;
}

/* 호버 효과 */
.button:hover {
  border-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.8);
  background-color: darken(currentColor, 10%); /* 배경색이 조금 더 어두워지는 효과 */
}