
{% extends "base.html" %}

{% block body %}

<style>

  </style>

<div class="mx-1">
    <h4>User page</h4>

<br>

<h3>Base Information</h3>
<div>
    <ul>
        <li>UID: {{user_detail.id}}</li>
        <li>name: {{user_detail.username}}</li>
        <li>Department: {{user_detail.get_department_info}}</li>
        <li>Joined date: {{user_detail.formatted_joined_time}}</li>
    </ul>
</div>

<br>
<br>
<h4>Projects</h4>
<div>
    <strong class="mx-2">Total projects: {{user_detail.get_number_projects}} </strong>
    <span>(cancled: {{user_detail.get_number_projects_cancled}}, completed: {{user_detail.get_number_projects_completed}})</span></div>
<div>
    <ul>
        {% for project in user_detail.get_projects %}
        <li><a class="status {{project.get_status_color}} link" href="{% url 'detail_project' project.id %}">{{project}}</a></li>
    {% endfor %}
    </ul>
</div>
</div>


{% endblock %}


